<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/coin">
          <ion-card-header>
            <ion-card-title>
                <ion-icon name="logo-bitcoin"></ion-icon>
                Moedas
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card routerLink="/stock">
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="wifi"></ion-icon>
              Ações
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card routerLink="">
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="wifi"></ion-icon>
              API
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card routerLink="">
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="wifi"></ion-icon>
              Geolocalização
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card routerLink="">
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="wifi"></ion-icon>
              Câmera
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
